#h1 {
    font-size: 18px;
    font-family: sans-serif;
}

.odstavec1 {
    font-size: 14px;
}

.tyden {
    display: block;
    margin: auto;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px 3px grey;
}

.buttons {
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: red;
}

.b1 {
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    
    
}